*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Goldman', cursive;
}
body{
    text-align:center;
    background-color: rgb(24, 43, 70);
    min-height:100vh;
    overflow-x: hidden;
}
header, .contact{
    background-color: rgb(18, 33, 53);
}
nav{
    margin: 0 30px;
    padding:10px 0;
    display: flex;
    justify-content: space-between;
}
.top{
    position: absolute;
    display: flex;
    color: rgb(255, 255, 255);
    width: 100%;
    top:10px;
    right:30px;
    justify-content: flex-end;

}
.top p{
    cursor: pointer;
    margin: 0 10px;
    opacity: 0;
}
.burger{
    z-index: 999;
    display: none;
    overflow:hidden;    
}
.burger div{
    width:25px;
    height:2px;
    background-color: rgb(255,255,255);
    margin:5px;  
    transition: .3s ease;
}
.toggle .line1{
transform:rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    transform: translateX(-25px);
    opacity: 0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-5px,-5px);
}
.main, .menu{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    color: rgb(255, 255, 255);
}
.menu a{
    font-size: .8em;
    margin:10px 20px;
    padding:5px 5px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0;
    transition:.3s ease;
}
h1{
    margin:30px;
    color:rgb(255, 255, 255);
    font-size:6em;
    font-weight:900;
}
#logo{
    width: 180px;
    margin:20px;
    text-align:center;
    opacity: 0;
    animation:load 1s .6s ease-in-out forwards;  
}
.search-container{
    margin:0;
    position: absolute;
    z-index: 998;
    width: 100%;
    height:100%;
    font-size:1.2em;
    background-color:rgba(24, 43, 70, 0.973);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform .3s ease-in;
    /*
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:100%;
    
    z-index: 999;
    background-color: rgba(24, 43, 70, 0.973);   
    */
}
.search-active{
    transform: translateX(0%);
}
select{
    position: absolute;
    width:auto;
    padding:0 5px;
    top:50%;
    left:15%;
    transform: translate(-15%,-50%);
    height:60px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border:none;
    outline: none;   
}
select option{
    border:none;
    background-color: rgba(0, 132, 255, 0.61)
}
form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height:100px; 
}
form input{
    width: 80%;
    height: 40px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border:none;
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}
form button{
    width: 5%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    outline:none;
    font-size: 1em;
    cursor: pointer;
}
.fas{
    cursor: pointer;
    opacity: 0;
}
.close{
    position: absolute;
    top:20px;
    right:60px;
    font-size: 2em;
    color:rgb(255, 255, 255);
    background-color:transparent;
    border:none;
    outline: none;
    cursor: pointer; 
}

.checkbox{
    margin:50px auto;
    width: 90%;
    height: 20%;
    color:rgb(255, 255, 255);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.checkbox label{
    width: auto;
    margin:0 20px;
}
.checkbox label input{
    margin: 0 15px;
}
.container h1{
    position:absolute;
}
.container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:1600px;
    transform-style:preserve-3d;
}
.container .card{
    position:relative;
    width:300px;
    height:600px;
    margin:40px;
    background:url(./img/bg.jpg) center;
    background-size:cover;
    border-radius:20px;
    transform-style:preserve-3d;
    animation:load 1s ease-in-out;
}
.container .card::before{
    content:url(./img/gamecenter_logo_d_wh_mini.png);
    position:absolute;
    top:20px;
    left:20px;
    font-size:1em;
    font-weight:900;
    color:rgba(255, 255, 255, 0.4);
    opacity:0;
    transition:.3s ease-in-out;  
}
.container .card:hover::before,
.container .card:hover::after{
    opacity:.5;
}
.container .card::after{
    content:'NOVO PARTS TRADE';
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:1.3em;
    font-weight:900;
    color: rgba(255, 255, 255, 0.4);
    opacity:0;
    transition:.3s ease-in-out;
    
}
.container .card .name{
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    color:rgb(255, 255, 255);
    width:100%;
    transform-style:preserve-3d;
    transform:translate3d(0,0,75px);
    transition:.5s;
    opacity:0;
    z-index:10;
}
.container .card:hover .name{
    top:40px;
    opacity:1;
}
.container .card .go{
    position:absolute;
    bottom:0;
    left:50%;
    transform-style:preserve-3d;
    transform:translate3d(-50%,0,120px);
    background:rgb(51, 51, 51);
    color:rgb(255, 255, 255);
    border-radius:30px;
    padding:10px 25px;
    text-decoration: none;
    transition:.5s;
    opacity:0;
    z-index:10;
}
.container .card:hover .go{
    bottom:30px;
    opacity:1;
}
.container .card .circle{
    position:absolute;
    top:50%;
    left:50%;
    width:200px;
    height:200px;
    border-radius:50%;
    transition:.5s;
    background:rgb(255, 255, 255);
    transform-style:preserve-3d;
    transform:translate3d(-50%,-50%,50px);
    transition:.5s;
    z-index:10;
    opacity:0;
}
.container .card:hover .circle{
    opacity:1;
}

.container .card .pic{
    position:absolute;
    top:50%;
    left:50%;
    max-width:340px;
    transform-style:preserve-3d;
    transform:translate3d(-50%,-50%,70px);
    z-index:11;
    transition:.5s;
}
.container .card:hover .pic{
    position:absolute;
    top:50%;
    left:50%;
    max-width:340px;
    transform-style:preserve-3d;
    transform:translate3d(-50%,-50%,150px);
    z-index:11;
    transition:.5s;
}
.top p:nth-child(1){
    animation:load 1s 1.5s ease-in-out forwards;
}
.top p:nth-child(2){
    animation:load 1s 1.8s ease-in-out forwards;
}
.menu i:nth-child(1){
    animation:load 1s 1s ease-in-out forwards;
}
.menu a:nth-child(2){
    animation:load 1s 1.05s ease-in-out forwards;
}
.menu a:nth-child(3){
    animation:load 1s 1.1s ease-in-out forwards;
}
.menu a:nth-child(4){
    animation:load 1s 1.15s ease-in-out forwards;
}
.menu a:nth-child(5){
    animation:load 1s 1.2s ease-in-out forwards;
}
.menu a:nth-child(6){
    animation:load 1s 1.25s ease-in-out forwards;
}
.menu a:nth-child(7){
    animation:load 1s 1.3s ease-in-out forwards;
}
.menu a:nth-child(8){
    animation:load 1s 1.35s ease-in-out forwards;
}
.menu a:nth-child(9){
    animation:load 1s 1.4s ease-in-out forwards;
}
.menu a:nth-child(10){
    animation:load 1s 1.45s ease-in-out forwards;
}
.contact a:nth-child(1){
    animation:load 1s 2s ease-in-out forwards;
}
.contact a:nth-child(2){
    animation:load 1s 2.5s ease-in-out forwards;
}
.contact a:nth-child(3){
    animation:load 1s 3s ease-in-out forwards;
}




.menu a:nth-child(2),.menu a:nth-child(3),.menu a:nth-child(4){
    border-left:3px solid rgba(233, 10, 10, 0);
}
.menu a:nth-child(5),.menu a:nth-child(6),.menu a:nth-child(7),.menu a:nth-child(8){
    border-left:3px solid rgba(207, 176, 3, 0);
}
.menu a:nth-child(9){
    border-left:3px solid rgba(0, 132, 255, 0); 
}
.menu a:nth-child(10){
    border-left:3px solid rgba(43, 209, 1, 0); 
}
.menu a:nth-child(2):hover,.menu a:nth-child(3):hover,.menu a:nth-child(4):hover{
    border-left:3px solid rgba(233, 10, 10);
}
.menu a:nth-child(5):hover,.menu a:nth-child(6):hover,.menu a:nth-child(7):hover,.menu a:nth-child(8):hover{
    border-left:3px solid rgba(207, 176, 3);
}
.menu a:nth-child(9):hover{
    border-left:3px solid rgba(0, 132, 255); 
}
.menu a:nth-child(10):hover{
    border-left:3px solid rgba(43, 209, 1); 
}
.container .card:nth-child(1){
    border-top:20px solid rgba(233, 10, 10);
}
.container .card:nth-child(2){
    border-top:20px solid rgba(207, 176, 3);
}
.container .card:nth-child(3){
    border-top:20px solid  rgba(0, 132, 255);
}
.container .card:nth-child(4){
    border-top:20px solid rgb(43, 209, 1);
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .go{
    border:5px solid rgba(233, 10, 10, 0.61);
    background:rgba(233, 10, 10, 0.61);
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .go{
    border:5px solid  rgba(207, 176, 3, 0.61);
    background:rgba(207, 176, 3, 0.61);
}
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .go{
    border:5px solid rgba(0, 132, 255, 0.61);
    background:rgba(0, 132, 255, 0.61);
}
.container .card:nth-child(4) .circle,
.container .card:nth-child(4) .go{
    border:5px solid rgb(43, 209, 1, 0.61);
    background:rgb(43, 209, 1, 0.61);
}


@keyframes load{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}
.text h3{
    color: rgb(255, 255, 255);
    margin:20px auto;
    text-align: center;
    width: 80%;
    opacity: 0;
    animation:load 1s 1.6s ease-in-out forwards;
}
.contact{
    font-size: .7em;
    width:100%;
    margin:20px auto;
    display:flex;
    justify-content:center;
}
.contact a{
    margin:30px;
     padding:10px 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition:.3s ease-in-out;
}
.contact a:hover{
    border-left:3px solid rgba(0, 132, 255);
}

@media screen and (max-width: 1560px){
    #logo{
        margin:10px;
    }
    .container .card{
        width:250px;
        height:500px;
    }
    .container .card .pic{
        max-width:270px;
    }
    .container .card:hover .pic{
        max-width:300px;
    }
    .burger{
        margin:20px;
        display: block;
        cursor: pointer;
    }
    .menu{
        margin:0;
        position: absolute;
        z-index: 998;
        width: 100%;
        height:100%;
        font-size:1.4em;
        background-color:rgba(24, 43, 70, 0.973);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }
    .menu-active{
        transform: translateX(0%);
    }
}
@media screen and (max-width: 1320px){
    #logo{
        margin:10px;
    }
    .container .card{
        width:200px;
        height:500px;
    }
    .container .card .pic{
        max-width:220px;
    }
    .container .card:hover .pic{
        max-width:250px;
    }
    
}
@media screen and (max-width: 1145px){
    #logo{
        margin:20px auto;
    }
    .contact{
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .contact a{
        margin:5px;
        padding:10px 10px;
    }
    .container .card{
    margin:10px;
    }
    
}
@media screen and (max-width: 880px){
    #logo{
        width: 50%;
        margin:20px;
    }
    .container .card{
        width:80%;
        height:100px;
        margin:10px;
    }
    .container .card .name{
        position:absolute;
        top:50%;
        left:0;
        text-align:center;
        color:rgb(255, 255, 255);
        width:100%;
        transform-style:preserve-3d;
        transform:translate3d(0,-50%,75px);
        transition:.5s;
        opacity:0;
        z-index:10;
    }
    .container .card:hover .name{
        top:50%;
        opacity:1;
    }
    .container .card .go{
        position:absolute;
        bottom:0;
        left:90%;
        transform-style:preserve-3d;
        transform:translate3d(-90%,0,120px);
        background:rgb(51, 51, 51);
        color:rgb(255, 255, 255);
        border-radius:30px;
        padding:10px 25px;
        text-decoration: none;
        transition:.5s;
        opacity:0;
        z-index:10;
    }
    .container .card:hover .go{
        bottom:20px;
        opacity:1;
    }
    .container .card:hover .name{
        top:50%;
    }
    .container .card .pic{
        max-width:80px;
        top:50%;
        left:20%;
        transform-style:preserve-3d;
        transform:translate3d(-20%,-50%,120px);
    }
    .container .card:hover .pic{
        max-width:120px;
        top:50%;
        left:20%;
        transform-style:preserve-3d;
        transform:translate3d(-20%,-50%,120px);

    }
    .container .card .circle{
        display: none;
    }
    .search-active{
        display: flex;
        flex-wrap: wrap;
      }
}